

table.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.fancy-header {
    color: white;
    text-decoration: underline;

}
body {
    color: white;
    background-image: url('https://media.istockphoto.com/vectors/seamless-geometric-pattern-vector-id1067192118?b=1&k=6&m=1067192118&s=612x612&w=0&h=J-6eyn-l65yleWbRRFD-SdUe5cJnszkrxkaeFI1u8_s=');
    background-repeat: repeat;
    background-size: 33% 25%;
    /*background-color: navajowhite;*/
    font-family: sans-serif
}

ol {
    list-style: upper-alpha;
}
ul{
    text-align: center;
    list-style: upper-roman
}
li {
    text-align: center;
}

tr {
    font-weight: lighter;
}

body, h1,h2 {
    color: white;
    text-align: center;
}

div {
    border: 1px solid white;
    background-color: navy;

}



